.searchStyle {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
}

.productButton {
    margin: 0px 10px;
    color: #4CAF93;
}
    .ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):hover {
        color: #3BAFDA;
    }