.ant-menu-item {
    padding: 0px !important;
}
.breadCrumb {
    padding: 84px 54px 20px;
    border-bottom: 1px solid #c4c4c4;
    background-color: #F9FAFB;
}
.productslayoutStyle {
    min-height: 100vh;
    background-color: #F9FAFB;
}