.headerStyle {
    width: 100%;
    background-color: #f1f1f1;
    padding: 0;
    border-bottom: 1px solid #c4c4c4;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.footerStyle {
    padding: 2px 10px;
    text-align: left;
    color: #000000;
    background-color: #f1f1f1;
}

.desktopMenu {
    display: flex;
    align-items: center;
    gap: 8px;
}

.searchStyle {
    width: 100%;
    max-width: 300px;
}

.logoStyle {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

    .logoStyle:hover {
        color: #000000;
    }

.membericonStyle, .carticonStyle {
    height: auto;
    padding: 0px 10px;
}

.mobileMenu {
    display: none;
}

.headerRow {
    height: 64px;
}

@media (max-width: 768px) {
    .desktopMenu {
        display: none;
    }

    .mobileMenu {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 64px;
    }
}
